 
<!-- loads home and extends the header page //-->
<!--can be included anywhere //-->


{% load static %}



{% block content %}
<div class="container marketing">

      <!-- Three columns of text below the carousel -->
	<div class="row">
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	</div>
	  
	<div class="jumbotron">
		
		<button type="button" class="btn btn-lg btn-success">Donate</button>
        <h2>Everyone Deserves Dignity</h2>
        <p>Molly started this orginisation to help bring the minimum amount of dignity, to the homeless of this country. This minimum level of dignity is a human right and everyone should have access to it, but sadly there are those that do not. Help us bring a bit of dignity to those in need.</p>
     		
	</div>
		 
         <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">What's in a pack?<span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img  class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" src="{% static 'myApp/img/pack.jpeg' %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Where can I go to volunteer?<span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static 'myApp/img/wicklow.png' %}"  alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
{% endblock %}	  

<!-- Backend is something that isn't presented to the user. Frontend is the user interface of the website, I will use bootstrap for the frontend of my website//-->

<!-- CDN helps website run quicker. Uses servers in multiple locations//-->