<!--JINJA logic extends starting with templates directory. Extends personal/header template //-->

<!--pages that are going to be extended will be extended all over the website //--> 
{% extends "aboutapp/header.html" %} 



{% block content %} <!--This will display basic information from the content key of the dictionary. content key is a list of strings  //--> 
	<div class="container marketing">

		  <!-- Three columns of text below the carousel -->
		<div class="row">
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		</div>
		  

		<div class="jumbotron">
		
			<h2>Everyone Deserves Dignity</h2>
				<p>Molly started this orginisation to help bring the minimum amount of dignity, to the homeless of this country. This minimum level of dignity is a human right and everyone should have access to it, but sadly there are those that do not. Help us bring a bit of dignity to those in need.</p>
			
		</div>
		
		{% include "aboutapp/includes/layout.html" %}
		
		
		
	</div>
{% endblock %}

