
<!DOCTYPE html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
	
	<title>Faoilean Fortune</title>
	
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'myApp/css/bootstrap.min.css' %}" type='text/css'/> <!-- this can be applied to all pages to add bootstrap css //-->
	<link rel='stylesheet' href="{% static 'myApp/css/theme.css' %}" type='text/css'/>
	<link rel='stylesheet' href="{% static 'myApp/css/bootstrap-theme.min.css' %}" type='text/css'/> 
	<link rel='stylesheet' href="{% static 'myApp/css/carousel.css' %}" type='text/css'/> 
	

</head>

<body class="body" style="background-color:#ffffff">
	<!-- Fixed navbar -->
    <div class="navbar-wrapper">
	
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top" style="backgrund-color: #0167BB">
          <div class="container">
		 <a href="/"> <img src="{% static 'myApp/img/dove.png' %}" class="responsive-img" style='max-height:100px;' alt="face"> </a>
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Dignity</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav" >
                <li ><a href="/">Home</a></li>
                <li class="active"><a href="/aboutapp">About</a></li>
				<li><a href="#donate">Donate</a></li>
				<li><a href="/volunteer/">Volunteer</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
		<div>
		<!-- Jinja logic used to define a file and access it's content //-->
		 {% block content %}

	     {% endblock %}	     
		</div>
	<footer>
		<div class="container-fluid" style='margin:15px 0px 0px 15px;'  >
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>