 
<!-- loads home and extends the header page //-->
<!--can be included anywhere //-->


{% load static %}



{% block content %}
<div class="container marketing">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Why Dignity packs?</h2>
          <p class="lead">How can YOU make a DIFFERENCE and support Dignity?
				We are creating Dignity Packs for Homeless Men and Women and will distribute to those who need them most. <br/><br/>
				The items will all be packed into small rucksacks and will be specific to men or women. Because these are hygienic items, all items are NEW, not used.
				 If you think that there are any useful items that we haven't included, please let us know.
				Your contributions will help us increase the number of Dignity Packs we are able to distribute. <br/><br/>
				If you can donate any items, please drop them into our Collection Point - Andrew McElroy Hair Concepts, Herbert Road, Bray, who have kindly partnered with us on this initiative.
				Alternatively, message us here or email at info@dignitypacks.ie and we can organise collection.</p>
        </div>
		<br/>
		<br/>
        <div class="col-md-5">
          <img  class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" src="{% static 'aboutapp/img/pack.png' %}" alt="Generic placeholder image">
        </div>
      

      <!-- /END THE FEATURETTES -->
{% endblock %}	  

<!-- Backend is something that isn't presented to the user. Frontend is the user interface of the website, I will use bootstrap for the frontend of my website//-->

<!-- CDN helps website run quicker. Uses servers in multiple locations//-->