 
<!-- loads home and extends the header page //-->
<!--can be included anywhere //-->


{% load static %}



{% block content %}
	<div class="container marketing">

      <!-- Three columns of text below the carousel -->
	  
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Where can I go to volunteer?</h2>
          <p class="lead"> <img src="{% static 'volunteer/img/marker.png' %}" class="responsive-img" style='height:10%; width: 10%;' alt="face">  </p>
		  <p> {{ results }} </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          {% include "volunteer/includes/maps.html" %}
        </div>
      </div>


      <hr class="featurette-divider">
	  
		{% include "volunteer/includes/form.html" %}
	  
	  

      <!-- /END THE FEATURETTES -->
{% endblock %}	  

<!-- Backend is something that isn't presented to the user. Frontend is the user interface of the website, I will use bootstrap for the frontend of my website//-->

<!-- CDN helps website run quicker. Uses servers in multiple locations//-->