<!--JINJA logic extends starting with templates directory. Extends personal/header template //-->

<!--pages that are going to be extended will be extended all over the website //--> 
{% load static %} 



{% block content %} <!--This will display basic information from the content key of the dictionary. content key is a list of strings  //--> 

	<br/>
	<br/>
	<br/>
	<br/>
	

	<div id="map" style="border-style: solid; border-width: 5px; height: 600px; width: 95%"></div>
    <script>
      function initMap() {
        var uluru = {lat: {{ lat1 }} , lng: {{ lon1 }} };
		
		var uluru2 = {lat: {{ lat2 }} , lng: {{ lon2 }} };
		
		var uluru3 = {lat: {{ lat3 }} , lng: {{ lon3 }} };
		
		var uluru4 = {lat: {{ lat4 }} , lng: {{ lon4 }} };
		
		var uluru5 = {lat: {{ lat }} , lng: {{ lon }} };
																
		var uluru6 = {lat: {{ lat5 }} , lng: {{ lon5 }} };
		
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
		
		var marker2 = new google.maps.Marker({
          position: uluru2,
          map: map
        });
		
		var marker3 = new google.maps.Marker({
          position: uluru3,
          map: map
        });
		
		var marker4 = new google.maps.Marker({
          position: uluru4,
          map: map
        });
		
		var marker5 = new google.maps.Marker({
          position: uluru5,
          map: map
        });
		
		var marker6 = new google.maps.Marker({
          position: uluru6,
          map: map
        });
		
		
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrrN9Svur1OHJzFAOosSjh8k_mHWP86Hc&callback=initMap">
    </script>
{% endblock %}

