<!--JINJA logic extends starting with templates directory. Extends personal/header template //-->

<!--pages that are going to be extended will be extended all over the website //--> 
{% load static %} 



{% block content %} <!--This will display basic information from the content key of the dictionary. content key is a list of strings  //--> 
	<div id="map" style="border: 5px solid-black; height: 400px; width: 40%"></div>
    <script>
      function initMap() {
        var uluru = {lat: 53.3465403, lng: -6.2661446};
		
		var uluru2 = {lat: 53.2470773, lng: -6.11956};
		
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
		
		var marker2 = new google.maps.Marker({
          position: uluru2,
          map: map
        });
		
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrrN9Svur1OHJzFAOosSjh8k_mHWP86Hc&callback=initMap">
    </script>
{% endblock %}

